# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn

# IntelliJ related
.idea/
*.iml
*.iws
.last_build_id
out/

# Visual Studio Code related
.vscode/

# Flutter/Dart related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/android/key.properties
**/android/app/src/main/res/raw/
**/android/app/src/main/assets/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Web related
build/web
.dart_tool/chrome-device/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio Workspace
android/local.properties
android/key.properties
android/bundle/
android/app/src/main/res/mipmap-hdpi/
android/app/src/main/res/mipmap-mdpi/
android/app/src/main/res/mipmap-xhdpi/
android/app/src/main/res/mipmap-xxhdpi/
android/app/src/main/res/mipmap-xxxhdpi/

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ServiceDevice.plist
Podfile.lock

# macOS related
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/

# Private Pub Settings (if you ever use them)
pubspec_overrides.yaml

# Exceptions to keep (optional)
!/ios/Runner/Base.lproj/LaunchScreen.storyboard
!/ios/Runner/Base.lproj/Main.storyboard